/* menu styles */
.show {
  display: block;
}

nav {
  background-color: var(--secondary);
  color: var(--neutral-light);
}

body.dark nav {
  background-color: var(--secondary);
}

nav:not(.breadcrumb, .bm-item-list) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav h2,
.theme {
  margin: 0 auto;
}

.mobileNav {
  background: var(--secondary);
}

body.dark .mobileNav {
  background: var(--secondary);
}

.fa-times,
.fa-bars {
  color: var(--neutral-lightest) !important;
}

.bm-burger-button {
  position: absolute;
  width: 32px;
  height: 28px;
  right: 36px;
  top: 40px;
}

@media screen and (min-width: 468px) {
  .bm-burger-button {
    top: 25px;
  }
}

@media screen and (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}

.bm-overlay {
  top: 0;
}

.nav-links {
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .nav-links {
    margin: 0 3rem;
  }
}

nav:not(.breadcrumb) a:not(.bm-item) {
  color: var(--neutral-lightest);
}

nav:not(.breadcrumb) a,
a.bm-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  font-size: var(--text-lg);
  font-family: macho, Tahoma, Verdana, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: 0.5s ease;
}

@media screen and (min-width: 1280px) {
  nav:not(.breadcrumb) a,
  a.bm-item {
    margin: 0 3rem;
  }
}

a.bm-item {
  padding: 1rem;
  color: var(--secondary);
}

.bm-menu {
  background: var(--highlight);
}

body.dark .bm-menu-wrap,
body.dark .bm-menu,
body.dark .bm-item-list {
  background: var(--accent);
  color: var(--neutral-lightest);
}

.bm-item-list {
  background: var(--highlight);
}

.menu-active,
nav a:hover,
nav a:focus {
  color: var(--neutral-lightest);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.menu-active,
a.bm-item:hover,
a.bm-item:focus {
  color: var(--secondary);
  text-decoration: underline;
  text-underline-offset: 8px;
}
