/* Form Styles */
.form-wrapper {
  background: var(--highlight);
  color: var(--secondary);
}

body.dark .form-wrapper {
  background: transparent;
  border: 2px solid var(--accent);
  color: var(--highlight);
}

input {
  width: 250px;
  height: 32px;
}

textarea {
  height: 150px;
  width: 250px;
}

select {
  outline: 2px solid var(--secondary);
}

.form-wrapper:focus-within,
form button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 1.75px solid var(--secondary);
  outline-offset: 4px;
}

body.dark .form-wrapper:focus-within,
body.dark form button:focus-visible,
body.dark input:focus-visible,
body.dark textarea:focus-visible {
  outline: 1.75px solid var(--highlight);
  outline-offset: 4px;
}

@media screen and (max-width: 768px) {
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

/* Copy code button in markdown code blocks */
.button-container--code {
  display: flex;
  position: relative;
  top: 10px;
  height: 100%;
  margin: 0 1rem 0 0;
  z-index: 40;
}

@media (max-width: 1280px) {
  .button-container--code {
    top: 9px;
  }
}

.button-code {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2px;
  width: auto;
  border-radius: 0 0 3px 3px;
  padding: 6px 10px;
  background-color: var(--secondary);
  color: var(--neutral-lightest);
}

body.dark .button-code {
  background-color: var(--accent);
  color: var(--neutral-lightest);
}

@media screen and (max-width: 768px) {
  .button-code {
    top: 0;
  }
}

/* Light/dark theme toggle */
.checkbox {
  opacity: 0;
  top: 5px;
  right: 5px;
  position: absolute;
}

.label {
  background-color: var(--neutral-dark);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 18px;
  width: 48px;
  transform: scale(1.25);
  font-weight: 600;
  font-size: var(--text-base);
}
.form-item {
  display: flex;
  flex-direction: column;
}

.form-item label {
  font-family: "Interstate Mono", "Consolas", "Monaco", "ui-monospace",
    "SFMono-Regular", "monospace";
  font-weight: 600;
}

.form-item textarea {
  width: 100%;
}

.form-item input,
.form-item textarea {
  color: var(--text-primary);
}

input,
textarea {
  background: var(--neutral-light);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
}

body.dark input,
body.dark textarea {
  background: #413b71;
  color: var(--neutral-lightest);
}

.form-item__select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .form-item__select {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

.form-item__select label {
  font-weight: 500;
  letter-spacing: 1px;
}

body.dark .form-item__select label {
  color: var(--white);
}

.form-item__select--wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 1.5px solid var(--secondary);
  border-radius: 2px;
  padding: 0.35rem;
  width: 200px;
  background: var(--neutral-lightest);
}

body.dark .form-item__select--wrapper {
  border: 1.5px solid var(--primary);
  background: transparent;
}

.form-item__select--wrapper select {
  padding: 0 0.75rem;
  outline: none;
  color: var(--text-primary);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  background: transparent;
  background-image: url("../../images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
}

body.dark .form-item__select--wrapper select {
  color: var(--neutral-lightest);
  background: transparent;
  background-image: url("../../images/chevron-down-dark.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.form-item__select--wrapper select:hover,
.form-item__select--wrapper select:focus,
.form-item__select--wrapper select:focus-visible,
.form-item__select--wrapper select:focus-within,
.form-item__select--wrapper select:active {
  outline: none;
  width: 100%;
  border-width: 0px;
  border-color-top: transparent;
  border-color-bottom: transparent;
  border-color-right: transparent;
  border-color-left: transparent;
}

option.form-item__select--option {
  font-family: var(--font-body);
  border: none;
  padding: 0.5rem;
  background: var(--neutral-light);
}

body.dark option.form-item__select--option {
  background: var(--secondary);
  color: var(--neutral-light);
}

select .form-item__select--option:hover,
select .form-item__select--option:checked {
  background: var(--secondary);

  box-shadow: 0 0 10px 100px var(--secondary) inset;
  color: var(--neutral-lightest);
}

select:focus > .form-item__select--option:checked {
  background: var(--secondary) !important;
}

select:focus > .form-item__select--option:hover {
  background: var(--secondary) !important;
}
