.button {
  padding: 8px 12px;
}

.button--primary {
  background: var(--neutral-dark);
  color: var(--neutral-lightest);
  border: none;
}

body.dark .button--primary {
  background: var(--d-primary);
  color: var(--text-primary);
  border: none;
}
/* .button-primary:hover,
.button--primary:focus {
  background: var(--text-primary);
  color: var(--primary);
  border: 2px solid var(--primary);
} */

.button--secondary {
  background: var(--secondary);
  color: var(--neutral-lightest);
  border: none;
}

body.dark .button--secondary {
  background: var(--d-secondary);
}
/* .button--secondary:hover,
.button--secondary:focus {
  background: var(--secondary);
  color: var(--white);
  border: 2px solid var(--secondary);
} */

.button--secondary__outline {
  background: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

body.dark .button--secondary__outline {
  color: var(--d-secondary);
  border: 2px solid var(--d-secondary);
}

.button--secondary__outline:hover,
.button--secondary__outline:focus {
  background: var(--secondary);
  color: var(--neutral-lightest);
  border: 2px solid var(--secondary);
}

body.dark .button--secondary__outline:hover,
body.dark .button--secondary__outline:focus {
  background: var(--d-secondary);
  color: var(--neutral-lightest);
  border: 2px solid var(--d-secondary);
}

.button--scroll {
  color: var(--neutral-lightest);
  padding: 0;
}
.button--scroll svg {
  background: var(--primary);
}
