.card {
  box-shadow: -8px 8px 0px var(--primary);
  border: 2px solid var(--secondary-light);
}

body.dark .card {
  box-shadow: -8px 8px 0px var(--d-primary);
  border: 2px solid var(--d-accent);
}

.angled-bg {
  position: absolute;
  z-index: 0;
  transform: translateY(-310px);
  height: 300px;
  clip-path: polygon(0% -10%, 0 100%, 50% 65%, 100% 100%, 100% 0);
}

.card-post {
  width: 500px;
}

.card-post:not(:hover) {
  border: 2px solid var(--secondary);
}

body.dark .card-post:not(:hover) {
  border: 2px solid var(--d-secondary);
}

/* .card-post:hover,
.card-post:focus {
  border: 2px solid var(--highlight-light);
}

body.dark .card-post:hover,
body.dark .card-post:focus {
  border: 2px solid var(--d-highlight);
} */

.card-post:hover,
.card-post:focus {
  border: 2px solid var(--accent);
}

/* .card-post h3 {
  color: var(--white);
  text-shadow: var(--shadow-secondary);
} */

body.dark .card-post h3 {
  color: var(--neutral-light);
  text-shadow: none;
}

.card-post h3 {
  color: var(--text-primary);
  text-shadow: var(--shadow-primary);
}

.card-post p {
  color: var(--neutral-lightest);
  opacity: 0.85;
}

body.dark .card-post p {
  color: var(--neutral-light);
}

.card-post p {
  color: var(--text-primary);
}

body.dark .card-post .tag {
  border: 2px solid var(--d-accent);
  color: var(--d-accent);
}

.card-post .tag {
  border: 2px solid var(--accent);
  color: var(--accent);
}

.card-post .link {
  color: var(--secondary);
}

@media (max-width: 768px) {
  .card-post {
    width: 90vw;
  }
}

.card-post:hover .link {
  text-underline-offset: 4px;
  text-decoration: underline;
}

.card-project {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  width: 350px;
  height: 225px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body.dark .card-project {
  box-shadow: none;
}

.card-project img {
  position: absolute;
  z-index: 0;
  transition: 0.25s;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.card-project--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transition: all 0.4s ease;
  overflow: hidden;
  z-index: 5;
  height: max-content;
  bottom: 0;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  background: var(--neutral-lightest);
  padding: 1rem;
}

body.dark .card-project--content {
  background: var(--d-neutral-lightest);
  color: var(--neutral-light);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card-project--content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-project--content__header svg {
  transform: none;
  transition: 0.3s ease;
}

.card-project--content .tags {
  display: none;
  height: 0;
  opacity: 0;
  transition: all 0.4s 0.2s ease-in;
}

.card-project--content a,
.card-project--content p {
  display: none;
  opacity: 0;
  transition: all 0.5s 0.3s ease-in;
}

.card-project--content .tag {
  border: 2px solid var(--secondary-light);
  color: var(--secondary-light);
}

body.dark .card-project--content .tag {
  border: 2px solid var(--d-accent);
  color: var(--d-accent);
}

.card-project--content h3,
.card-project:hover .card-project--content p,
.card-project:hover .card-project--content .tags,
.card-project:hover .card-project--content a,
.card-project--content h3,
.card-project:focus .card-project--content p,
.card-project:focus .card-project--content .tags,
.card-project:focus .card-project--content a {
  display: flex;
  opacity: 1;
  height: max-content;
}

.card-project:hover,
.card-project:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-project:hover img,
.card-project:focus img {
  filter: brightness(45%);
  transform: scale(1.25);
}

.card-project:hover .card-project--content__header svg,
.card-project:focus .card-project--content__header svg {
  transform: rotate(180deg);
}

.card-project:hover .card-project--content p,
.card-project:focus .card-project--content p {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link-resume {
  color: var(--dark);
  font-weight: 700;
  font-size: 20px;
  text-shadow: -1.5px 0.5px 0px var(--highlight);
  text-underline-offset: 3px;
}

body.dark .link-resume {
  text-shadow: -2px 0.75px 0px var(--d-secondary);
}

body.dark .card--social-links a {
  color: var(--d-secondary);
}

.header-image {
  border-radius: 50%;
  box-shadow: -6px 0.5px 0px var(--primary);
}

body.dark .header-image {
  box-shadow: -6px 0.5px 0px var(--d-primary);
  border: 2px solid var(--d-accent);
}
