@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #75acc0; /* light blue */
  --secondary: #66202a; /* maroon */
  --accent: #c8782f; /* burnt orange */
  --highlight: #e1b878; /* light burnt orange */
  --white: #fcfdfe; /* #fafcfd or */
  --white-85: rgba(252, 253, 254, 0.85);
  --white-75: rgba(252, 253, 254, 0.75);
  --white-65: rgba(252, 253, 254, 0.65);
  --black: #101d22; /*#0d181c or  */

  /* brighter colors for dark theme */
  --primary-light: #b1d0db; /* #81b3c5; */
  --secondary-light: #8e2c3a;
  --accent-light: #da9c63; /* #d38945; */
  --highlight-light: #e7c692;
  --highlight-lighter: #faf3e9;

  --text-primary: #122127; /* or #122127 */
  --text-secondary: #f6e2e5; /* or #260c10 */
  --text-accent: #78481c; /* or #5d3816; */
  --text-highlight: #ae7927; /* #d29433 or */

  --shadow-primary: -1.5px 1px 0px var(--primary);
  --shadow-secondary: -1.5px 1px 0px var(--secondary-light);
  --shadow-white: -1.5px 1px 0px var(--white);
}

html {
  scroll: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  color: var(--black);
  font-size: 16px;
  font-family: "source-sans-3", "Trebuchet MS", "Helvetica", "ui-sans-serif",
    "system-ui", "sans-sefooterrif";
}

main section {
  background: var(--highlight-lighter);
}
nav {
  background-color: var(--black);
}

nav a {
  color: var(--white);
}

.mobileNav {
  background: #192d35;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  letter-spacing: 2.5px;
  font-family: macho, "Tahoma", "Verdana", sans-serif;
  font-weight: 700;
}

h1 {
  font-weight: 800;
}

h3 {
  text-shadow: var(--shadow-primary);
}

p {
  letter-spacing: 1px;
}

a {
  transition: all 0.4s ease;
  letter-spacing: 1px;
}

header {
  background: var(--primary);
  color: var(--text-primary);
}

section {
  background: var(--white);
  color: var(--text-primary);
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-accent {
  background: var(--accent);
}

.bg-black {
  background: var(--black);
}

.text-secondary {
  color: var(--secondary);
}

.text-accent {
  color: var(--accent);
}

.text-dark {
  color: var(--black);
}

.text-highlight {
  color: var(--highlight);
}

.border-highlight {
  border: 2px solid var(--highlight);
}

.border-primary {
  border: 2px solid var(--primary);
}

.border-accent {
  border: 2px solid var(--accent);
}

a:focus-visible,
button:focus-visible {
  outline-offset: 4px;
  outline-color: var(--black);
}

a:hover,
button:hover,
svg:hover,
svg:focus {
  transform: scale(1.025);
  outline: 0px transparent;
}

.link--with-icon {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

.link--with-icon:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.rounded-full {
  border-radius: 50%;
}

nav a,
.mobileNav a {
  letter-spacing: 2.5px;
  font-size: 22px;
  font-family: macho, "Tahoma", "Verdana", sans-serif;
  font-weight: 600;
}

header .card {
  width: max-content;
}

.header-image {
  border: 2px solid var(--secondary-light);
}

.recent-posts {
  background: var(--accent);
}

/* Post Content */
.post,
article header {
  width: 70vw;
}

article header {
  background: transparent;
  margin: 0 auto;
}

article header span {
  display: flex;
  height: 4px;
  background: var(--secondary);
  border-radius: 2px;
}

article .categories {
  padding-bottom: 2rem;
}

article a.category,
section a.tag {
  border: 2px solid var(--accent);
  color: var(--accent);
}

:not(pre) > code[class*="language-"],
code.language-text {
  word-break: break-word;
}

@media screen and (max-width: 1023px) {
  .post,
  article header {
    width: 90vw;
  }
}

.post-content {
  width: 100%;
}

@media (max-width: 768px) {
  .post,
  article header {
    width: 100%;
  }
}

.post h3,
.post-content h3 {
  margin: 2rem 0;
  border-left: 0.5rem solid var(--secondary-light);
  padding: 0.5rem 0.75rem;
  text-shadow: none;
}

.post-content a {
  color: var(--secondary);
  text-underline-offset: 1.5px;
}

.post a:hover,
.post-content a:hover {
  filter: brightness(115%);
  text-underline-offset: 3px;
}

.dark .post a,
.dark .post-content a {
  color: var(--dark-primary);
}

.post strong,
.post-content strong {
  color: var(--secondary);
}

.dark .post strong,
.dark .post-content strong {
  color: var(--secondary-light);
}

.post-content p,
.post-content li {
  line-height: 1.75;
}

.post-content p {
  margin: 1.5rem 0;
}

.dark h3,
.dark .post-content p h3 {
  color: var(--white);
  text-shadow: none;
}

.dark .post-content p h3 {
  border-left: 0.5rem solid var(--secondary-lightdark-secondary);
  padding: 0.5rem 0.75rem;
}

.section-heading {
  border-bottom: 12px solid var(--secondary-light);
  line-height: 0.65;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.dark .section-heading {
  border-bottom: 18px solid var(--secondary-light);
  line-height: 0.45;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

strong#name {
  text-shadow: 2px 2px 0px var(--primary);
  text-decoration: 3px underline wavy var(--secondary-light);
  text-underline-offset: 8px;
}

.dark strong#name {
  text-shadow: 2px 2px 0px var(--dark-primary);
  text-decoration: 3px underline wavy var(--secondary-light);
  text-underline-offset: 8px;
}

.underline-offset {
  text-underline-offset: 8px;
}

/* menu styles */
.show {
  display: block;
}

.fa-times,
.fa-bars {
  color: var(--white) !important;
}

@media screen and (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}

.skills {
  background: var(--primary);
  color: var(--text-primary);
}

.skills--card {
  background: var(--white-75);
  color: var(--text-primary);
}

.skills-card h3 {
  text-shadow: -1.5px 1.5px 0px var(--accent);
}

.skill-icon {
  color: var(--text-primary);
}
/* footer */
footer {
  background: var(--secondary);
  color: var(--white);
}

footer em {
  color: var(--white-85);
}

footer small {
  opacity: 0.9;
}

footer small a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

footer a {
  color: var(--white-75);
}

footer a:hover,
footer a:focus {
  color: var(--white);
}

/* certifications slider */
#certs {
  margin-top: -8px;
}

@media (max-width: 480px) {
  .right-arrow {
    margin-right: -1rem;
  }
  .left-arrow {
    margin-left: -1rem;
  }
}

div.certs-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1290px;
  margin: 3rem auto -10rem auto;
  z-index: 30;
}

@media (max-width: 1290px) {
  div.certs-carousel {
    width: 90vw;
  }
}

.certs-carousel .slick-track {
  display: flex;
  align-items: center;
  min-height: 400px;
}

@media (min-width: 768px) and (max-width: 1290px) {
  #certs h1 {
    margin-bottom: -2rem;
  }
}
@media (max-width: 480px) {
  #certs h1 {
    margin-bottom: -5rem;
  }
}

.slick-slide {
  z-index: 30;
  transition: 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.slick-center {
  transform: scale(1.225);
  z-index: 40;
}

.right-arrow svg,
.left-arrow svg {
  fill: var(--white);
}

.arrows button {
  padding: 8px;
}

/* contact form styles */
.form-wrapper {
  background: var(--accent);
  color: var(--white);
}
input {
  width: 250px;
  height: 32px;
}

textarea {
  height: 150px;
  width: 250px;
}

select {
  outline: 2px solid var(--secondary);
}

.form-wrapper:focus-within,
form button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 1.75px solid var(--text-primary);
  outline-offset: 4px;
}

@media screen and (max-width: 768px) {
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

/* Copy code button in markdown code blocks */
.button-container--code {
  display: flex;
  position: relative;
  top: 10px;
  height: 100%;
  margin: 0 1rem 0 0;
  z-index: 40;
}

@media (max-width: 1280px) {
  .button-container--code {
    top: 9px;
  }
}

.button-code {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2px;
  width: auto;
  border-radius: 0 0 3px 3px;
  padding: 6px 10px;
  background-color: var(--secondary);
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .button-code {
    top: 0;
  }
}

/* Light/dark theme toggle */
.checkbox {
  opacity: 0;
  top: 5px;
  right: 5px;
  position: absolute;
}

.label {
  background-color: var(--black);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 18px;
  width: 48px;
  transform: scale(1.25);
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  color: var(--white);
  padding-left: 0;
}

@media (min-width: 768px) {
  .breadcrumbs {
    padding-left: 3rem;
  }
}

.breadcrumbs svg.home-icon {
  margin-left: 0.5rem;
  margin-right: -1rem;
  z-index: 25;
}

.breadcrumbs svg {
  width: 22px;
  height: 1rem;
}

ol {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--secondary);
  color: var(--white);
  padding: 1rem;
  max-height: 100%;
}

.breadcrumbs ol li {
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  ol li {
    margin: 0;
  }
}

ol li a {
  font-family: "interstate-mono", "Consolas", "Monaco", "ui-monospace",
    "SFMono-Regular", "monospace";
  font-size: 0.9rem;
}

ol li span {
  font-weight: bold;
}

ol li a {
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: all 0.4s ease-in-out;
}

ol li a:hover {
  text-underline-offset: 6px;
}

ol li:last-of-type a {
  text-decoration: none;
  font-weight: 700;
}

ol li:last-of-type a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.crumb-separator {
  margin: 0 0.25rem;
}
