@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #75acc0; /* light blue */
  --secondary: #66202a; /* maroon */
  --accent: #c8782f; /* burnt orange */
  --highlight: #e1b878; /* light burnt orange */
  --neutral-darkest: #0f1b20;
  --neutral-darker: #101d22;
  --neutral-dark: #162830;
  --neutral: #182d35;
  --neutral-light: #faf3e9;
  --neutral-lightest: #fcfdfe;

  --primary-light: #b1d0db; /* #81b3c5; */
  --secondary-light: #8e2c3a;
  --accent-light: #da9c63; /* #d38945; */
  --highlight-light: #e7c692;

  --text-primary: #122127; /* or #122127 */
  --text-secondary: #f6e2e5; /* or #260c10 */
  --text-accent: #78481c; /* or #5d3816; */
  --text-highlight: #ae7927; /* #d29433 or */

  /* dark theme */
  --d-primary: #8ab1bf;
  --d-secondary: #7a323c;
  --d-accent: #c3864e;
  --d-highlight: #dabd8e;

  --d-neutral-light: #1b2b32;
  --d-neutral-lightest: #2d4752;

  --shadow-primary: -1.5px 1px 0px var(--primary);
  --shadow-secondary: -1.5px 1px 0px var(--secondary-light);
  --shadow-white: -1.5px 1px 0px var(--neutral-lightest);

  /* font sizing */
  --text-sm: 0.8rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
}

html {
  scroll: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  color: var(--black);
  font-size: var(--text-base);
  font-family: source-sans-3, Trebuchet MS, Helvetica, ui-sans-serif, system-ui,
    sans-sefooterrif;
}

main section {
  background: var(--neutral-light);
}

body.dark main section {
  background: var(--neutral-darkest);
}

.text-white,
body.dark .text-white {
  color: var(--neutral-light);
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-large);
}

h1,
h2,
h3,
h4 {
  letter-spacing: 2.5px;
  font-family: macho, Tahoma, Verdana, sans-serif;
  font-weight: 700;
}

h1 {
  font-weight: 800;
}

h3 {
  text-shadow: var(--shadow-primary);
}

p {
  letter-spacing: 1px;
}

a {
  transition: all 0.4s ease;
  letter-spacing: 1px;
}

header {
  background: var(--primary);
  color: var(--text-primary);
}

section {
  background: var(--neutral-light);
  color: var(--text-primary);
}

.site-caption {
  background-color: var(--secondary);
  color: var(--neutral-lightest);
  padding: 1rem;
}

body.dark .site-caption {
  background-color: var(--d-secondary);
}

body.dark section {
  background: var(--neutral-dark);
  color: var(--neutral-light);
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-accent {
  background: var(--accent);
}

.bg-dark {
  background: var(--neutral-dark);
}

.bg-light {
  background: var(--neutral-light);
}

body.dark .bg-light {
  background: var(--neutral-darkest);
  color: var(--neutral-lightest);
}

.bg-lightest {
  background: var(--neutral-lightest);
}

.text-secondary {
  color: var(--secondary);
}

.text-accent {
  color: var(--accent);
}

.text-dark {
  color: var(--neutral-dark);
}

.text-highlight {
  color: var(--highlight);
}

.border-highlight {
  border: 2px solid var(--highlight);
}

.border-primary {
  border: 2px solid var(--primary);
}

.border-accent {
  border: 2px solid var(--accent);
}

a:focus-visible,
button:focus-visible {
  outline-offset: 4px;
  outline-color: var(--black);
}

a:hover,
button:hover,
svg:hover,
svg:focus {
  transform: scale(1.025);
  outline: 0px transparent;
}

.link--with-icon {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

.link--with-icon:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.rounded-full {
  border-radius: 50%;
}

header .card {
  width: max-content;
}

.header-image {
  border: 2px solid var(--secondary-light);
}

/* Recent Projects */
.recent-projects {
  background: var(--primary);
}

body.dark .recent-projects {
  background: var(--neutral-darkest);
}

.recent-posts {
  background: var(--neutral-light);
}

body.dark .recent-posts {
  background: var(--neutral-darkest);
}

.recent-posts h2 {
  color: var(--text-primary);
  text-shadow: none;
}

body.dark .recent-posts h2 {
  color: var(--neutral-light);
  text-shadow: none;
}

/* Post Content */
.post,
article header {
  width: 70vw;
}

article header {
  background: transparent;
  margin: 0 auto;
}

article header span {
  display: flex;
  height: 4px;
  background: var(--secondary);
  border-radius: 2px;
}

body.dark article header span {
  background: var(--d-secondary);
}

article header p {
  color: var(--text-primary);
}

body.dark article header p {
  color: var(--d-highlight);
}
article .categories {
  padding-bottom: 2rem;
}

article a.category,
section a.tag {
  border: 2px solid var(--accent);
  color: var(--accent);
}

body.dark article a.category,
body.dark section a.tag {
  border: 2px solid var(--d-accent);
  color: var(--d-accent);
}

:not(pre) > code[class*="language-"],
code.language-text {
  word-break: break-word;
}

@media screen and (max-width: 1023px) {
  .post,
  article header {
    width: 90vw;
  }
}

.post-content {
  width: 100%;
}

@media (max-width: 768px) {
  .post,
  article header {
    width: 100%;
  }
}

.post h3,
.post-content h3 {
  margin: 2rem 0;
  border-left: 0.5rem solid var(--secondary-light);
  padding: 0.5rem 0.75rem;
  text-shadow: none;
}

body.dark .post h3,
body.dark .post-content h3 {
  border-left: 0.5rem solid var(--d-secondary);
}


a.gradient-link,
.post-content a {
  color: var(--secondary);
  font-weight: 600;
  font-size: inherit;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(to right, var(--primary), var(--primary)),
    linear-gradient(
      to right,
      var(--primary) 20%,
      var(--highlight),
      var(--accent),
      var(--secondary)
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}

a.gradient-link:hover,
.post-content a:hover {
  background-size: 0 0.1em, 100% 0.1em;
}

a.gradient-link {
  line-height: 1.8;
  font-size: var(--text-lg);
}

.dark a.gradient-link {
  color: var(--neutral-lightest);
}

.dark .post a,
.dark .post-content a {
  color: var(--dark-primary);
}

.tooltip {
  cursor: help;
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted var(--secondary);
  font-weight: 600;
}

body.dark .tooltip {
  border-bottom: 2px dotted var(--primary);
}

.tooltip .tooltip--text {
  visibility: hidden;
  width: 120px;
  background-color: var(--neutral-darkest);
  color: var(--neutral-lightest);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

body.dark .tooltip--text {
  background-color: var(--secondary);
  /* color: var(--neutral-darkest); */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip--text {
  visibility: visible;
}

.post strong,
.post-content strong {
  color: var(--secondary);
}

body.dark .post strong,
body.dark .post-content strong {
  color: var(--d-accent);
}

.post-content p,
.post-content li {
  line-height: 1.75;
}

.post-content p {
  margin: 1.5rem 0;
}

body.dark h3,
body.dark .post-content p h3 {
  color: var(--neutral-lightest);
  text-shadow: none;
}

body.dark .post-content p h3 {
  border-left: 0.5rem solid var(--d-secondary);
  padding: 0.5rem 0.75rem;
}

.section-heading {
  border-bottom: 12px solid var(--secondary-light);
  line-height: 0.65;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.recent-posts .section-heading {
  border-bottom: 12px solid var(--accent);
}

body.dark .section-heading {
  border-bottom: 18px solid var(--d-secondary);
  line-height: 0.45;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

strong#name {
  text-shadow: 2px 2px 0px var(--primary);
  text-decoration: 3px underline wavy var(--secondary-light);
  text-underline-offset: 8px;
}

body.dark strong#name {
  text-shadow: 2px 2px 0px var(--d-primary);
  text-decoration: 3px underline wavy var(--d-secondary);
  text-underline-offset: 8px;
}

.underline-offset {
  text-underline-offset: 8px;
}

/* menu styles */
.show {
  display: block;
}

.fa-times,
.fa-bars {
  color: var(--neutral-lightest) !important;
}

@media screen and (min-width: 769px) {
  .bm-burger-button {
    display: none;
  }
}

.skills {
  background: var(--primary);
  color: var(--text-primary);
}

body.dark .skills {
  background: var(--neutral-darkest);
}

.skills--card {
  background: var(--neutral-light);
  color: var(--text-primary);
  opacity: 0.85;
}

body.dark .skills--card {
  background: var(--neutral-dark);
  color: var(--neutral-light);
}

.skills--card h3 {
  text-shadow: none;
}

body.dark .skills--card h3 {
  text-shadow: -1.5px 1.5px 0px var(--d-primary);
}

body.dark .skills--card svg {
  color: var(--d-accent);
}

.skill-icon {
  color: var(--text-primary);
}

body.dark .skill-icon {
  color: var(--d-primary);
}

/* footer */
footer {
  background: var(--secondary);
  color: var(--neutral-lightest);
}

body.dark footer {
  background: var(--d-secondary);
}

footer em {
  color: var(--neutral-lightest);
  opacity: 0.85;
}

footer small {
  opacity: 0.9;
}

footer small a {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 600;
}

footer a {
  color: var(--white-75);
}

footer a:hover,
footer a:focus {
  color: var(--neutral-lightest);
}

/* Certifications */

#certs {
  background: var(--primary);
  margin-top: -8px;
}

body.dark #certs {
  background: var(--d-neutral);
}

@media (max-width: 480px) {
  .right-arrow {
    margin-right: -1rem;
  }
  .left-arrow {
    margin-left: -1rem;
  }
}

div.certs-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1290px;
  margin: 3rem auto -10rem auto;
  z-index: 30;
}

@media (max-width: 1290px) {
  div.certs-carousel {
    width: 90vw;
  }
}

.certs-carousel .slick-track {
  display: flex;
  align-items: center;
  min-height: 400px;
}

@media (min-width: 768px) and (max-width: 1290px) {
  #certs h1 {
    margin-bottom: -2rem;
  }
}
@media (max-width: 480px) {
  #certs h1 {
    margin-bottom: -5rem;
  }
}

.slick-slide {
  z-index: 30;
  transition: 0.5s cubic-bezier(0.37, 0, 0.63, 1);
}

.slick-center {
  transform: scale(1.225);
  z-index: 40;
}

.right-arrow svg,
.left-arrow svg {
  fill: var(--neutral-lightest);
}

.arrows button {
  padding: 8px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  color: var(--neutral-lightest);
  padding-left: 0;
}

@media (min-width: 768px) {
  .breadcrumbs {
    padding-left: 3.5rem;
  }
}

.breadcrumbs svg.home-icon {
  margin-left: 0.5rem;
  margin-right: -1rem;
  z-index: 25;
}

.breadcrumbs svg {
  width: 22px;
  height: 1rem;
}

ol {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--secondary);
  color: var(--neutral-lightest);
  padding: 1rem;
  max-height: 100%;
}

.breadcrumbs ol li {
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  ol li {
    margin: 0;
  }
}

ol li a {
  padding-left: 0.5rem;
  font-family: interstate-mono, Consolas, Monaco, ui-monospace, SFMono-Regular,
    monospace;
  font-size: 0.9rem;
}

ol li span {
  font-weight: bold;
}

ol li a {
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: all 0.4s ease-in-out;
}

ol li a:hover {
  text-underline-offset: 6px;
}

ol li:last-of-type a {
  text-decoration: none;
  font-weight: 700;
}

ol li:last-of-type a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.crumb-separator {
  margin: 0 0.25rem;
}

#gatsby-plugin-scroll-indicator:has(.page--blog) {
  display: none;
}
