@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffb17a; /* light orange */
  --secondary: #201335; /* very dark purple */
  --accent: #4f4789; /* light purple */
  --highlight: #fce762; /* bright yellow */
  --neutral-darkest: #0f1b20;
  --neutral-dark: #162830;
  --neutral: #182d35;
  --neutral-light: #faf3e9;
  --neutral-lightest: #fcfdfe;

  --text-primary: #122127; /* or #122127 */
  --text-secondary: #f6e2e5; /* or #260c10 */
  --text-accent: #78481c; /* or #5d3816; */
  --text-highlight: #ae7927; /* #d29433 or */

  --shadow-primary: -1px 1px 0px var(--primary);
  --shadow-highlight: -1px 1px 0px var(--highlight);
  --shadow-secondary: -1px 1px 0px var(--secondary);
  --shadow-white: -1px 1px 0px var(--neutral-lightest);

  /* font sizing */
  --text-sm: 0.8rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;

  /* fonts */
  --mono: interstate-mono, Consolas, Monaco, ui-monospace, SFMono-Regular,
    monospace;
  --body: source-sans-3, Trebuchet MS, Helvetica, ui-sans-serif, system-ui,
    sans-serif;
  --heading: macho, Tahoma, Verdana, sans-serif;

  /* breakpoints */
  --large: 968px;
}

html {
  scroll: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  color: var(--black);
  font-size: var(--text-base);
  font-family: var(--body);
}

main section {
  background: var(--neutral-light);
}

body.dark main section {
  background: var(--secondary);
}

.text-white,
body.dark .text-white {
  color: var(--neutral-lightest);
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-large);
}

h1,
h2,
h3,
h4 {
  letter-spacing: 2.5px;
  font-family: var(--heading);
  font-weight: 700;
}

h1 {
  font-weight: 800;
}

h3 {
  text-shadow: var(--shadow-primary);
}

p {
  letter-spacing: 1px;
}

a {
  transition: all 0.4s ease;
  letter-spacing: 1px;
}

section {
  background: var(--neutral-light);
  color: var(--text-primary);
}

.site-caption {
  background-color: var(--secondary);
  color: var(--neutral-lightest);
  padding: 1rem;
}

body.dark .site-caption {
  background-color: var(--secondary);
  filter: brightness(0.8);
}

body.dark section {
  background: var(--secondary);
  color: var(--neutral-lightest);
  filter: brightness(0.8);
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}

.bg-accent {
  background: var(--accent);
}

.bg-dark {
  background: var(--neutral-dark);
}

.bg-light {
  background: var(--neutral-light);
}

body.dark .bg-light {
  background: var(--secondary);
  color: var(--neutral-lightest);
  filter: brightness(0.8);
}

.bg-lightest {
  background: var(--neutral-lightest);
}

.text-secondary {
  color: var(--secondary);
}

.text-accent {
  color: var(--accent);
}

.text-dark {
  color: var(--neutral-dark);
}

.text-highlight {
  color: var(--highlight);
}

.border-highlight {
  border: 2px solid var(--highlight);
}

.border-primary {
  border: 2px solid var(--primary);
}

.border-accent {
  border: 2px solid var(--accent);
}

a:focus-visible,
button:focus-visible {
  outline-offset: 4px;
  outline-color: var(--black);
}

a:hover,
button:hover,
svg:hover,
svg:focus {
  transform: scale(1.025);
  outline: 0px transparent;
}

.link--with-icon {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

.link--with-icon:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.rounded-full {
  border-radius: 50%;
}

header h1.page-title {
  margin: 0 auto;
  padding: 1.5rem 4rem;
  font-size: calc(var(--text-xl) * 5);
}

@media screen and (min-width: 768px) {
  header h1.page-title {
    padding: 4rem;
  }
}

header .card {
  width: max-content;
}

.header-image {
  border: 2px solid var(--secondary);
}

/* Recent Projects */
.recent-projects {
  background: var(--accent);
}

body.dark .recent-projects {
  background: var(--secondary);
  filter: brightness(0.8);
}

.recent-posts {
  background: var(--neutral-light);
}

body.dark .recent-posts {
  background: var(--secondary);
  filter: brightness(0.8);
}

.recent-posts h2 {
  color: var(--text-primary);
  text-shadow: none;
}

body.dark .recent-posts h2 {
  color: var(--neutral-light);
  text-shadow: none;
}

/* Post Content */
.post,
article header {
  width: 70vw;
}

article header {
  background: transparent;
  margin: 0 auto;
}

article header span {
  display: flex;
  height: 4px;
  /* background: var(--secondary); */
  background: linear-gradient(
    to right,
    var(--primary) 20%,
    var(--highlight),
    var(--accent),
    var(--secondary)
  );
  border-radius: 2px;
}

body.dark article header span {
  background: var(--accent);
}

article header p {
  color: var(--text-primary);
}

body.dark article header p {
  color: var(--neutral-light);
}

article .categories {
  padding-bottom: 2rem;
}

article a.category,
section a.tag {
  border: 2px solid var(--accent);
  color: var(--accent);
}

.tag.tag--read {
  color: var(--secondary);
  font-weight: 700;
  font-family: var(--body);
  font-size: 1rem;
}

body.dark article a.category,
body.dark section a.tag {
  border: 2px solid var(--highlight);
  color: var(--highlight);
}

:not(pre) > code[class*="language-"],
code.language-text {
  word-break: break-word;
}

@media screen and (max-width: 1023px) {
  .post,
  article header {
    width: 90vw;
  }
}

.post-content {
  width: 100%;
}

@media (max-width: 768px) {
  .post,
  article header {
    width: 100%;
  }
}

.post h3,
.post-content h3 {
  margin: 2rem 0;
  border-left: 0.5rem solid var(--secondary);
  padding: 0.5rem 0.75rem;
  text-shadow: none;
}

body.dark .post h3,
body.dark .post-content h3 {
  border-left: 0.5rem solid var(--primary);
}

a.gradient-link,
.post-content a {
  color: var(--secondary);
  font-weight: 600;
  font-size: inherit;
  background: linear-gradient(to right, var(--accent), var(--accent)),
    linear-gradient(
      to right,
      var(--primary) 20%,
      var(--highlight),
      var(--accent),
      var(--secondary)
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: all 0.4s ease-in-out;
}

body.dark a.gradient-link,
body.dark .post-content a {
  background: linear-gradient(to right, var(--highlight), var(--highlight)),
    linear-gradient(
      to right,
      var(--primary) 20%,
      var(--highlight),
      var(--accent),
      var(--secondary)
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
}

a.gradient-link:hover,
.post-content a:hover,
body.dark a.gradient-link:hover,
body.dark .post-content a:hover {
  background-size: 0 0.1em, 100% 0.1em;
}

a.gradient-link {
  line-height: 1.8;
  font-size: var(--text-lg);
}

.dark a.gradient-link {
  color: var(--neutral-lightest);
}

.dark .post a,
.dark .post-content a {
  color: var(--dark-primary);
}

.tooltip {
  cursor: help;
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted var(--secondary);
  font-weight: 600;
}

body.dark .tooltip {
  border-bottom: 2px dotted var(--primary);
}

.tooltip .tooltip--text {
  visibility: hidden;
  width: 120px;
  background-color: var(--neutral-darkest);
  color: var(--neutral-lightest);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

body.dark .tooltip--text {
  background-color: var(--secondary);
  filter: brightness(0.8);
  /* color: var(--neutral-darkest); */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip--text {
  visibility: visible;
}

.post strong,
.post-content strong {
  color: var(--secondary);
}

body.dark .post strong,
body.dark .post-content strong {
  color: var(--primary);
}

.post-content p,
.post-content li {
  line-height: 1.75;
}

.post-content p {
  margin: 1.5rem 0;
}

body.dark h3,
body.dark .post-content p h3 {
  color: var(--neutral-lightest);
  text-shadow: none;
}

body.dark .post-content p h3 {
  border-left: 0.5rem solid var(--primary);
  padding: 0.5rem 0.75rem;
}

.section-heading {
  border-bottom: 12px solid var(--primary);
  line-height: 0.65;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

body.dark .section-heading {
  border-bottom: 18px solid var(--accent);
  line-height: 0.45;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

strong#name {
  text-shadow: 2px 2px 0px var(--primary);
  text-decoration: 3px underline wavy var(--secondary);
  text-underline-offset: 8px;
  padding: 1rem;
  font-size: calc(var(--text-xl) * 3);

  @media screen and (min-width: var(--large)) {
    padding-left: 1rem;
    padding-right: 0;
  }
}

body.dark strong#name {
  text-shadow: 2px 2px 0px var(--highlight);
  text-decoration: 3px underline wavy var(--accent);
  text-underline-offset: 8px;
}

.underline-offset {
  text-underline-offset: 8px;
}

.skills {
  background: var(--accent);
  color: var(--text-primary);
}

body.dark .skills {
  background: var(--secondary);
  filter: brightness(0.8);
}

.skills--card {
  background: var(--neutral-light);
  color: var(--text-primary);
  opacity: 0.85;
}

body.dark .skills--card {
  background: #291944;
  color: var(--neutral-light);
  opacity: 1;
}

.skills--card h3 {
  text-shadow: none;
}

body.dark .skills--card h3 {
  text-shadow: none;
}

body.dark .skills--card svg {
  color: var(--primary);
}

.skills .lazy-slide {
  text-align: center;
}

.skill-icon {
  color: var(--highlight);
}

svg.skill-icon.gatsby {
  transform: scale(0.75) translateY(-1rem);
}
svg.skill-icon circle {
  fill: var(--highlight);
}

svg.skill-icon.gatsby path {
  fill: var(--accent);
}

body.dark svg.skill-icon.gatsby path {
  fill: var(--secondary);
}

body.dark .skill-icon {
  color: var(--highlight);
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  background-color: var(--accent);
  color: var(--neutral-lightest);
  padding-left: 0;
}

@media (min-width: 768px) {
  .breadcrumbs {
    padding-left: 3.5rem;
  }
}

.breadcrumbs svg.home-icon {
  margin-left: 0.5rem;
  margin-right: -1rem;
  z-index: 25;
}

.breadcrumbs svg {
  width: 22px;
  height: 1rem;
}

ol {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--accent);
  color: var(--neutral-lightest);
  padding: 1rem;
  max-height: 100%;
}

.breadcrumbs ol li {
  margin: 0.5rem;
}

@media screen and (max-width: 768px) {
  ol li {
    margin: 0;
  }
}

ol li a {
  padding-left: 0.5rem;
  font-family: var(--mono);
  font-size: 0.9rem;
}

ol li span {
  font-weight: bold;
}

ol li a {
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: all 0.4s ease-in-out;
}

ol li a:hover {
  text-underline-offset: 6px;
}

ol li:last-of-type a {
  text-decoration: none;
  font-weight: 700;
}

ol li:last-of-type a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.crumb-separator {
  margin: 0 0.25rem;
}

#gatsby-plugin-scroll-indicator:has(.page--blog) {
  display: none;
}
